<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bsy.DAO.IF_ComDAO">
	<insert id="insert">
		insert into bcom
		values (#{name}, #{com}, #{no}, default)
	</insert>
	<insert id="insertpic">
		insert into pcom
		values (#{name}, #{com}, #{no}, default)
	</insert>
	<select id="selectall" resultType="com.bsy.VO.ComVO">
		select * from bcom where no=#{no}
	</select>
	<select id="selectallpic" resultType="com.bsy.VO.ComVO">
		select * from pcom where no=#{no}
	</select>
</mapper>