<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bsy.DAO.IF_UsrDAO">
	<insert id="insert">
		insert into pusr
		values (#{id}, #{pw}, #{name}, default)
	</insert>
	<select id="selectOne" resultType="com.bsy.VO.UsrVO">
		select * from pusr where id = #{uid}
	</select>
</mapper>